@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-background-light: #ffffff;
  --color-background-dark: #0a0a0a;
  --color-foreground-light: #171717;
  --color-foreground-dark: #FFFFFF;
}

:root {
  --background: var(--color-background-light);
  --foreground: var(--color-foreground-light);
  --sidebar-width: 16rem;
}

.dark {
  --background: var(--color-background-dark);
  --foreground: var(--color-foreground-dark);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Ensure primary text color is consistent: */
:root, body {
  --foreground: #0D0D0D;
  color: var(--foreground);
}
